// Mixins Here





.custom-btn(@b-color, @color,)  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100px;
    height: 40px;
    background-color:@b-color;
    color: @color;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
      &:hover {
        background-color:white;
        color: @btn-bg-color;
        }
        @media@phone{
          width: 100%;
          
        }
      }

  .spa-img() {
    width: 28%;
    margin: 20px 2.5%;
    border-radius: 20px;
    height: 100%;
    @media@phone{
      width: 100%;
      
    }
}